.MuiFormControl-root.TextField {
  margin: 0.5rem 0;
  width: 100%;
}

.labelField {
  color: red;
  margin: 0.5rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-bottom: 0;
}

.textfield-container {
  display: flex;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.MuiButtonBase-root.formButton {
  margin: 0.5rem 0 0.5rem 0.7rem;
}

.toggle-button {
display: flex;
justify-content: right;
margin-right: 2rem;
margin-top: 1rem;
}